[submodule "deps/eurorack-pmod"]
	path = deps/eurorack-pmod
	url = https://github.com/apfelaudio/eurorack-pmod
[submodule "deps/migen"]
	path = deps/migen
	url = https://github.com/m-labs/migen.git
[submodule "deps/litex"]
	path = deps/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "deps/litedram"]
	path = deps/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "deps/litex_boards"]
	path = deps/litex_boards
	url = git@github.com:schnommus/litex-boards.git
[submodule "deps/litespi"]
	path = deps/litespi
	url = https://github.com/litex-hub/litespi
[submodule "deps/pythondata-cpu-vexriscv"]
	path = deps/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "deps/pythondata-software-picolibc"]
	path = deps/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "deps/pythondata-software-compiler_rt"]
	path = deps/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "firmware/deps/embedded-midi"]
	path = firmware/deps/embedded-midi
	url = https://github.com/schnommus/embedded-midi
[submodule "firmware/deps/rust-litex-hal"]
	path = firmware/deps/rust-litex-hal
	url = https://github.com/schnommus/rust-litex-hal
[submodule "deps/liteeth"]
	path = deps/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "deps/liteiclink"]
	path = deps/liteiclink
	url = https://github.com/enjoy-digital/liteiclink
[submodule "deps/amaranth"]
	path = deps/amaranth
	url = git@github.com:schnommus/amaranth.git
[submodule "deps/amaranth-soc"]
	path = deps/amaranth-soc
	url = https://github.com/amaranth-lang/amaranth-soc.git
[submodule "deps/amaranth-stdio"]
	path = deps/amaranth-stdio
	url = https://github.com/amaranth-lang/amaranth-stdio.git
[submodule "deps/lambdasoc"]
	path = deps/lambdasoc
	url = git@github.com:schnommus/lambdasoc.git
[submodule "deps/luna"]
	path = deps/luna
	url = git@github.com:schnommus/luna.git
[submodule "deps/python-usb-protocol"]
	path = deps/python-usb-protocol
	url = https://github.com/usb-tools/python-usb-protocol
[submodule "bootloader/deps/tinyusb"]
	path = bootloader/deps/tinyusb
	url = https://github.com/hathach/tinyusb_src.git
[submodule "firmware/ssd1322"]
	path = firmware/ssd1322
	url = git@github.com:schnommus/ssd1322.git
